* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  font-family: "Oswald";
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


main {
  margin: 0 auto;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @media only screen and (min-width: 940px) {
   gap: 0;
   background-color: aquamarine; 
  }
  
  section {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    padding: 30px;

    @media only screen and (min-width: 940px) {
      position: relative;
      right: -40px;
      border: 1px solid transparent;
      border-radius: 10px;
     }
    
    form:first-child > div > h5 {
      text-decoration: underline;
    }

    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media only screen and (min-width: 940px) {
        max-width: 300px;
        height: 450px;
        gap: 16px;

        .right-icon-container {
          flex-direction: row;
          gap: 10px;
          div {
            width: 50%;
            flex-direction: column;
            height: 76px;
          }
        }
       }

       #mortgageAmount_error,
       #mortgageTerm_error,
       #interestRate_error,
       #mortgageType_error {
        display: inline-block;
        font-size: 10px;
        color:red;
        height: 8px;
       }
      
      label {
        display: inline-block;
        height: 100%;
        padding: 10px;
        width: 100%;  
      }

      .input-radio:checked {
        background:#222
      }

      .input-radio {
        border: 1px solid #ccc;
        border-radius: 5px;
        /* accent-color: yellow; */
        filter: brightness(0.8);
        margin: 10px 0;
      }

      .input-radio > label:hover {
        cursor: pointer;
      }

      button {
        position: relative;
        margin: 0 auto;
        width: 300px;
        border-radius: 15px;
        border-width: 1px;
        border-color: transparent;
        padding: 10px;
        background-color: #FFDB58;
        color: #001d35;
        font-weight: bold;
        img {
          top: 5px;
          left: 30px;
          position: absolute;
          height: 25px;
          width: 50px;
        }
        
      }

      button:hover {
        cursor: pointer;
      }
    }
    
    
    form > div {
      position: relative;
      display: flex;
      flex-direction: column;

      > div {
        position: relative;
      }
      
      i {
        position: absolute;
        font-size: 12px;
        left: 1px;
        bottom: 17px;
        color: grey;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: aquamarine;
        height: 31px;
        text-align: center;
        padding: 10px 11px;
      }
      
      .input-icon-left {
        width: 100%; 
        padding: 8px 42px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
      }
      
     .input-icon-right {
        width: 100%;
        padding: 8px ; 
        margin: 8px 0; 
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
      }
      
       .input-icon-right + span {
        position: absolute;
        right: 1px;
        bottom: 32px;
        color: gray;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: aquamarine;
        height: 32.5px;
        @media only screen and (min-width: 940px) {
          bottom: 12px;
         }
        text-align: center;
        padding: 10px 11px;
        line-height: 13px;
        font-size: 12px;
      }
      
      input {
        padding: 20px;
      }
    }
  }

  .results {
    background-color: #1e4c73;
    color: white;
    gap: 20px;

    @media only screen and (min-width: 940px) {
      border-bottom-left-radius: 80px; 
      z-index: 99;
      position: relative;
      left: -40px;
     }

    h2 {
      color: yellow
    }

    h5 {
      color: rgb(204, 204, 204);
    }

    > div {
      display:flex;
      flex-direction: column;
      background-color: #001d35;
      padding: 10px;
      border-radius: 8px;
      border-top-color: yellow;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-width: 2px;
      border-style: solid;
      gap: 10px;

      .separator {
        height: 1px;
        background-color: #fff;
        width: 100%;
      }
    }
  }
}

.attribution {
  padding: 10px 0;
}
