* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  font-family: "Plus Jakarta Sans", sans-serif;
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);

  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


main {
  margin: 0 auto;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media only screen and (min-width: 940px) {
   gap: 0;
   background-color: var(--slate-100); 
  }
  
  section {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    padding: 30px;

    @media only screen and (min-width: 940px) {
      position: relative;
      right: -40px;
      border: 1px solid transparent;
      border-radius: 10px;
     }
    
    form:first-child > div > h5 {
      text-decoration: underline;
    }

    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media only screen and (min-width: 940px) {
        max-width: 300px;
        height: 450px;

        .right-icon-container {
          flex-direction: row;
          div {
            width: 50%;
            flex-direction: column;
            height: 76px;
            position: relative;
          }
        }
       }

       .right-icon-container {
        gap: 20px;
      }

       #mortgageAmount_error,
       #mortgageTerm_error,
       #interestRate_error {
       font-size: 10px;
       color:red;
       position: absolute;
       top: 65px;
       left: 0;
      }
      #mortgageType_error {
        position: absolute;
        font-size: 10px;
        color:red;
        top: 139px;
      }

      .radio-group {
        margin-bottom: 16px;
      }
      
      label {
        display: inline-block;
        height: 100%;
        padding: 10px;
        width: 100%;  
      }

      label:has(> input:checked) {
        background-color: rgb(255, 255, 204);
      }

      input[type="radio"] {
        margin-right: 10px;
      }

      .input-radio {
        border: 1px solid var(--slate-100);
        border-radius: 5px;
        /* accent-color: yellow; */
        filter: brightness(0.8);
        margin: 10px 0;
        position: relative;
      }

      .input-radio:hover {
        border: 1px solid var(--lime);
      }

      .input-radio:has(> input:checked)::after {
        position: absolute;
        top: 12px;
        content: '';
        left: 6px;
        width: 17px;
        height: 17px;
        border: 2px solid black;
        border-radius: 40px;
        background-color: transparent;
        display: inherit;
      }

      .input-radio > label:hover {
        background-color: var(--lime);
        cursor: pointer;
      }

      button {
        position: relative;
        margin: 0 auto;
        width: 300px;
        border-radius: 15px;
        border-width: 1px;
        border-color: transparent;
        padding: 10px;
        background-color: var(--lime);
        color: #001d35;
        font-weight: bold;
        img {
          top: 5px;
          left: 30px;
          position: absolute;
          height: 25px;
          width: 50px;
        }
        
      }

      button:hover {
        cursor: pointer;
      }
    }
    
    
    form > div {
      position: relative;
      display: flex;
      flex-direction: column;

      h5 {
        color: var(--slate-500);
        margin: 10px 0;
      }

      @media only screen and (min-width: 940px) {
        h5 {
          margin: 0;
          position: absolute;
          top: 4px;
          right: 0;
        }
      }
      
      
      > div {
        position: relative;
      }
      
      input {
        padding: 20px;
      }

      input:focus{
        border: 1px solid var(--lime);
      }
      
      i {
        position: absolute;
        font-size: 12px;
        left: 1px;
        bottom: 9px;
        color: var(--slate-900);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: var(--slate-100);
        height: 31px;
        text-align: center;
        padding: 10px 11px;
      }
      
      i:has(~ input:focus) {
        background-color: var(--lime);
      }
      .input-icon-left {
        width: 100%; 
        padding: 8px 42px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
      }
      
     .input-icon-right {
        width: 100%;
        padding: 8px ; 
        margin: 8px 0; 
        display: inline-block; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
      }

      .input-icon-right:focus + span {
        background-color: var(--lime);
      }
    
      .input-icon-right + span {
      position: absolute;
      right: 1px;
      bottom: 9px;
      color: var(--slate-900);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: var(--slate-100);
      height: 31px;
      text-align: center;
      padding: 10px 11px;
      line-height: 13px;
      font-size: 12px;

      @media only screen and (min-width: 940px) {
        position: absolute;
        bottom: 18px
        }
    }
  }
}

  .empty-results {
    justify-content: center;
    align-content: center;
    background-color: #1e4c73;
    gap: 20px;
    text-align:center;

    @media only screen and (min-width: 940px) {
      border-bottom-left-radius: 80px; 
      z-index: 99;
      position: relative;
      left: -40px;
     }
    
    h1 {
      color: var(--white);
    }
    h4 {
      color: var(--slate-100);
    }
  }

  .results {
    background-color: #1e4c73;
    color: var(--white);
    gap: 20px;
    display: none;

    @media only screen and (min-width: 940px) {
      border-bottom-left-radius: 80px; 
      z-index: 99;
      position: relative;
      left: -40px;
     }

    h3 {
      color: var(--slate-500);
    }

    h2 {
      font-size: 50px;
      color: var(--lime);
    }

    h5 {
      color: rgb(204, 204, 204);
    }

    > div {
      display:flex;
      flex-direction: column;
      background-color: #001d35;
      padding: 10px;
      border-radius: 8px;
      border-top-color: var(--lime);
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-width: 2px;
      border-style: solid;
      gap: 10px;

      h2 {
        font-size: 50px;
        color: var(--lime);
      }

      h4 {
        font-size: 30px;
      }
  
      h5 {
        color: rgb(204, 204, 204);
      }
  

      .separator {
        height: 1px;
        background-color: var(--white);
        width: 100%;
      }
    }
  }
}

.attribution {
  padding: 10px 0;
}
